<!-- inventory/dashboard.html -->

{% extends "inventory/base.html" %}

{% block content %}
<div class="container mt-3">

    <h1 style="text-align: center;">INVENTORY DASHBOARD</h1>

    <div class="my-4"></div>
       <!-- Search Form -->
<form method="get" action="{% url 'inventory_search_results' %}" id="searchForm">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search SKU" id="skuSearch" name="search_query" value="{{ search_query }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>
<!-- End Search Form -->

<div class="my-4"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Total SKUs</div>
                <div class="card-body">
                    <h5 class="card-title">{{ sku_count }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Suppliers</div>
                <div class="card-body">
                    <h5 class="card-title">{{ supplier_count }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Inventory Transactions</div>
                <div class="card-body">
                    <h5 class="card-title">{{ supplier_count }}</h5>
                </div>
            </div>
        </div>
        <!-- Add the "Add SKU" card widget here -->
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Add SKU</div>
                <div class="card-body">
                    <p>Add a new SKU to the inventory.</p>
                    <a href="{% url 'add_sku' %}" class="btn btn-success">Add SKU</a>
                </div>
            </div>
        </div>
        <!-- End of "Add SKU" card widget -->
        <!-- Add the "Edit" card widget here -->
        <div class="col-md-4">
             <div class="card text-white bg-warning mb-3">
                <div class="card-header">Edit</div>
                <div class="card-body">
                    <p>Edit existing SKU.</p>
                    <a href="{% url 'sku_list' %}" class="btn btn-warning">Edit</a>
                </div>
            </div>
        </div>
        <!-- End of "Edit" card widget -->
        <!-- Begin of Bulk Delete SKU card widget -->
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Delete SKUs</div>
                <div class="card-body">
                    <p>Select multiple SKUs to delete from the inventory.</p>
                    <a href="{% url 'delete_sku_list' %}" class="btn btn-danger">Delete SKUs</a>
                </div>
            </div>
        </div>
        <!-- End of Bulk Delete SKU card widget -->

    </div>
    <div class="row">
        <div class="col">
            <h2>Inventory List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Quantity</th>
                        <th>User</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventory_list %}
                    <tr>
                        <td>{{ inventory.sku.name }}</td>
                        <td>{{ inventory.quantity }}</td>
                        <td>{{ inventory.user.username }}</td>
                        <td>{{ inventory.date_created|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
